<div class="SuperColor">
  <h2>Añadir un libro</h2>
  <div class="base">
    <div class="Lateral">
      <div class="MinorColor">

        <label for="titulo" class="label">Título:</label>
        <input id="titulo" type="text" placeholder="Ingrese el título del libro" value="">

        <label for="referencia"  class="label">Referencia:</label>
        <input id="referencia" type="text" placeholder="Ingrese la referencia del libro" value="">

        <label for="autor" class="label">Autor:</label>
        <input id="autor" type="text" placeholder="Ingrese el autor del libro" value="">

        <label for="precio" class="label">Precio:</label>
        <input id="precio" type="number" step="0.01" placeholder="Ingrese el precio del libro" value="">

        <label for="ubicacion" class="label">Ubicación:</label>
        <input id="ubicacion" type="text" placeholder="Ingrese la ubicación del libro" value="">

        <button mat-button (click)="onClose()"class="greenButtonMargin">Añadir Libro</button>
      </div>
    <div>
  </div>
</div>
